server:
  port: 0

spring:
  application:
    name: authentication-service
  datasource:
    url: jdbc:postgresql://localhost:5432/authentication-service
    username: "{cipher}AQCVhCrO0bhqICVHtv15KCUN2RSO38jPGLEENa+fCQviwA+Ue9h51hvPHxBDR5FVhl3iuaU56EGOBPV7TU8l/zF7mU+B5pcZvA/1TF0ccV9yNGoqb5mPcmrwzgFhbI56g5DMtKxm6t1anuIJNICbihDvCO6E4Yk6ikkwA2QrOY/02sGKDNw8inflWuYLCyurnY7kGjk2toFkhZMBNKbAKdiVgaDbknfJ6Yi0Q0+mH7AL5sGqq+ZeJUsyxmRG3TY2gFyrq90OCTmIzoDKuyJrLCdKHgXS1wRWNz5YqYSjY0k1Bo4tWQ+KBqtSIqcgzirvuJz/FeHOGbrEz3xzFQtGw8IxI0aubF+aqJLlSxjF+fZgJCv3P8VwPQf0LoFgmVR486Y="
    password: "{cipher}AQBVEI3CP0JZxWBCNNcDR5JLB6kRX61DeTRmDFYbrd1A2MjJjgfkf1548pum3dVq0zaaPt//pRi1vXo0XLtTgapcZykIT63n3/4UScQBz5qJGTlATEcglqmQ4fZR6Tq/gFCwDqE5uM2U8Af0upx99U60nF/o/prS6HKZDWGPqavcxWIv1ohmutBysAXR5HDHSlg40dt5PupnjSu7TIpRwUwUUzIgt0jgFYtYUbUWuRtwRkdeWCVDNtI41nYrMkstL53kU5rA2zPwCumf+ayX598OVd5j1A6iKEhVuWtN6un8M5TFsFVJzZ4SDBbsDvkPu725+1iHA/SVUu+Omqh82M9P40HOpWcfFqsLRUmdTRhERaayXXCdWIvNRNW+Q9v1638="
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    port: 587
    username: "{cipher}AQBH4EZL0jgAUEvZkqpDvaX6QU/f5a1C9UTugEVQ1vul7avQ1k8FH39ILgIwUnie1ouil4iSjIVpI5/wJH+x7BlpuNFc6CawCzdF5lOHOpOLh3f4VmXec8MCFKwczu6ptTgkxtkmBQ4QjhSWRM9QSaifU2wuvpFpwYGV3y+i/54G95i+fRCZLwukd1Karrjz0j30XUx3G0Nea2MtP3wX6g5tk/Te934V0eCbSOkY5Lg1y3xCnreVF7SKIl5anj9ObXZuNXcjcSev6bqPsbLewKJD/uWSrNhRIVFjkJ1NE1k7dJmT93zp00s9BP29v8UO0I+X/9k8qlY25ay2FqUiuNAI+KJ/+u+5qhwHbAFIA84JOGhTt383Mi/y2wN0mkT7Ki9AuN5niwIn4XyjFaN7zka8"
    password: "{cipher}AQBUWI7/5nTmai2S3nwc4GmUyoCGZIi3DWuFufqNyfi/n3VgyPA3zIlsWZpmP2ERG7ESbfh9C6jHevsTGNYWDPGP3UaVChzXTxMVVl8SzXBd6mE+6uwDJxKQnurRacmVf+ELrgIZbKZj0xTC/XdqXRb3OlBzS+50JUJdNU5o8LMzRtUK1e3oMSfgTLHU6P3LND/kqRPSl3lhdf/NsKIwr3yu2GnRVIeiU8st6lIBntxEv3jzfbnLyCK5nXo7nT7KSO1kG/e9tkFjGrszw4Dd0MeHwBC7E4E7PGuORtfmJeqqMKbmKCUU+gay6A9T/qHMe9zTp8Bg/qwiEufXtmghKjWj1P+Bj0W6RJXjnAT9G7lyxQOHq/HKQft/PAUpk7hSgGWj4hHPUjqX2cUE9UODfNJX"
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
          ssl.trust: smtp.gmail.com

springdoc:
  api-docs:
    path: /authentication-service/api-docs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

services:
  profile:
    name: profile-service

otp-service:
  otp:
    name: otp-service    

# JWT SECRET - Do not modify
secret:
  key: "{cipher}AQCAFUg4pcbUCbLqa1/Ol6XXyi8HPHyYXNMEE1dl/Se+XvCQecIuChfXP5cnITftID658KiAh26BCCV0PCuRQoL6IRDUuf5T/8XjE5uLzxgRf1R8UKDx7q8uO1qGTT2TSmp8xfT4loItQL9jcLNeF1Xl6IDZYw2rUBfuz47dt6Pp9SWfxz3MajbJKcCjQz052eimmAWzJxDDYpEKjy/3SkDDFeyN1r44eKjodpphHSe4cvs5iF9N3rzIyKvzT+4qn18QJiIwSikWRTNFRkfjPNSnVk4Pf0nhwxt7WhH5QBF2mxokfERuFlZMSUrgZDPjIxwMdRrqIFJmV3p4pkuyVibxkK1GQRdF+rLy/vq2dpRggfpQrD6gu9hirE2LISyXHQdbMe4SK0BdILT/fX5FR/LBV+bxtmh15IVfZU/37zCO/w=="

otp:
  internal-api-key: "{cipher}AQBBaI/s20hVcyuFs4tOt08+9hyW8uRUFsjnftSjfUA4rEJQ1gpSWDYoul1HYNze5M70QVw+AJgDHtQ6td7OUo/lGhUjeFuXYLuBEx4tGNksw9jJa6aQv6S02+71ahzfbmGELWNSXSqgmcSNsbyqqIiWzQpwRpq7JgnsaELpb8t3R9LcNZL02sAqyv35+sxXAS7dtL/cSBNcB95RWoiW9ux33xx2ijpY3azVYCWXsIjVD86670d9iVf/Q1mcJmvRMUYhPxNp3Z1LYGRgMN2CQdqnZAbrJDln0l6mjp1FR1wx/V7wkPdbfFb99gmb6OohFbdOtvwZiP8f3L/GiCIiF2clemSeBgrE0EC66opit3TUw5XaW90dlIFijFwNdcQ47atm6sVbWqq0KeoTx5tftvGaEhGg1Ur9SG3J5wtD9g2WTw==" 
  service:
    base-url: http://host.docker.internal:8096
